# Quiz 4

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [1]:
# Write your answer here:
print(" Nolan Shah")

 Nolan Shah

<font size = "5" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Write the following message as a comment: <br>

"I will abide by Emory's code of conduct"

In [2]:
# Write your answer here:
print("I will abide by Emory's code of conduct")

I will abide by Emory's code of conduct

<font size = "5">

Establish a connection to the SQL server and database ```postgres``` <br>
from Python as done in  class  using <br>
```URL()``` and ```create_engine()```<br>
As we are are in the default database, you can leave out the database argument.

In [3]:
# Write your answer here:
from sqlalchemy import create_engine, text
from sqlalchemy.engine import URL
import pandas as pd

# Establishing a connection to the SQL server
connection_url = URL.create(
    "postgresql",
    username='your_username',  # Replace with your username
    password='your_password',  # Replace with your password
    host='localhost',
    port=5432,
    database='postgres'
)
engine = create_engine(connection_url)


<font size = "5">

(a) Upload dataset to SQL


<font size = "3">

- Read the files ```brand_data.csv``` and ```cars.csv``` in the ```data_raw``` folder
- Upload both files to your local SQL server using the <br>
"to_sql" command. Call the new datasets ```brand_data``` and ```cars```, respectively <br>
 in the server

In [4]:
# Write your answer here:
# Reading the CSV files
brand_data = pd.read_csv("data_raw/brand_data.csv")
cars = pd.read_csv("data_raw/cars.csv")

# Uploading to SQL server
brand_data.to_sql('brand_data', con=engine, if_exists='replace', index=False)
cars.to_sql('cars', con=engine, if_exists='replace', index=False)


<font size = "5">

For questions (b)-(f) we will be working with the tables <br>
``` cars ``` and ``` brands ``` in the SQL server. You are required to use <br>
the ```read_sql``` command for all the following questions.


<font size = "5">

(b) Subset and sort


<font size = "3">

- Use ```WHERE``` to get a subset of "cars" to subset <br>
cars whose brand is ```"Buick"```
- Chain this with ```ORDER BY driver_name ASC``` to sort in <br>
ascending order <br>
Hints:
- Remember to include a  ```\```  to be able to define strings over multiple lines
- We can include single quotations in the WHERE command without any additional escape characters

In [5]:
# Write your answer here:
query_b = """
SELECT * 
FROM cars
WHERE brand = 'Buick'
ORDER BY driver_name ASC;
"""

# Using pd.read_sql to execute the query
buick_cars = pd.read_sql(text(query_b), con=engine)
print(buick_cars)

<font size = "5">

(c) Groupby + Aggregate + Sort

<font size = "3">

- From ```cars```, obtain the average of "mpg" by "brand" using ```GROUP BY```
- Use ```ORDER BY ``` to sort by the average of "lap_times"
- Make sure to seperate pieces of your logic over seperate lines  by a ```\```

In [6]:
# Write your answer here:
query_c = """
SELECT brand, AVG(mpg) AS average_mpg
FROM cars
GROUP BY brand
ORDER BY average_mpg;
"""

average_mpg_by_brand = pd.read_sql(text(query_c), con=engine)
print(average_mpg_by_brand)

<font size = "5">

(d) Groupby + Aggregate + Sort

<font size = "3">

- From ```cars``` obtain the average of "mpg" by brand using ```GROUP BY```
- Use ```HAVING ``` to filter brands with an <br>
average mpg strictly higher than 20
- Make sure to seperate pieces of your logic over seperate lines  by a ```\```

HINT: See the end of lecture 16 for details <br>
HINT: Use ```HAVING AVG(mpg)``` rather than an alias <br>
for the code to work correctly.

In [7]:
# Write your answer here:
query_d = """
SELECT brand, AVG(mpg) AS average_mpg
FROM cars
GROUP BY brand
HAVING AVG(mpg) > 20
ORDER BY average_mpg;
"""

high_mpg_brands = pd.read_sql(text(query_d), con=engine)
print(high_mpg_brands)

<font size = "5">

(e) Groupby and multiple aggregations

<font size = "3">

-  From ```cars```, obtain the average, min, and max of each brand's price using ```GROUP BY```
- Make sure to separate pieces of your code by a ```\``` <br>

In [8]:
# Write your answer here:
query_e = """
SELECT brand, AVG(price) AS average_price, MIN(price) AS min_price, MAX(price) AS max_price
FROM cars
GROUP BY brand;
"""

price_stats_by_brand = pd.read_sql(text(query_e), con=engine)
print(price_stats_by_brand)

<font size = "5">

(f) Merge

<font size = "3">

- From ```cars```, ```LEFT JOIN``` the dataset ```brand_data``` <br>
using ```brand``` as a merging variable. 
- Hint: See Lecture 19 for how to merge datasets

In [9]:
# Write your answer here:
query_f = """
SELECT cars.*, brand_data.*
FROM cars
LEFT JOIN brand_data ON cars.brand = brand_data.brand;
"""

merged_data = pd.read_sql(text(query_f), con=engine)
print(merged_data)