# Quiz 4

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [1]:
# Write your answer here:
print(" Nolan Shah")

 Nolan Shah

<font size = "5" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Write the following message as a comment: <br>

"I will abide by Emory's code of conduct"

In [2]:
# Write your answer here:
print("I will abide by Emory's code of conduct")

I will abide by Emory's code of conduct

<font size = "5">

Establish a connection to the SQL server and database ```postgres``` <br>
from Python as done in  class  using <br>
```URL()``` and ```create_engine()```<br>
As we are are in the default database, you can leave out the database argument.

In [27]:
# Write your answer here:
from sqlalchemy import create_engine, text
from sqlalchemy.engine import URL
import pandas as pd

# Establishing a connection to the SQL server
connection_url = URL.create(
    "postgresql",
    username='postgres', 
    password= "",  
    host='localhost',
    port=5432,
    database='postgres'
)
engine = create_engine(connection_url)


<font size = "5">

(a) Upload dataset to SQL


<font size = "3">

- Read the files ```brand_data.csv``` and ```cars.csv``` in the ```data_raw``` folder
- Upload both files to your local SQL server using the <br>
"to_sql" command. Call the new datasets ```brand_data``` and ```cars```, respectively <br>
 in the server

In [ ]:
# Write your answer here:

brand_data = pd.read_csv("data_raw/brand_data.csv")
cars = pd.read_csv("data_raw/cars.csv")


brand_data.to_sql('brand_data', con=engine, if_exists='replace', index=False)
cars.to_sql('cars', con=engine, if_exists='replace', index=False)


<font size = "5">

For questions (b)-(f) we will be working with the tables <br>
``` cars ``` and ``` brands ``` in the SQL server. You are required to use <br>
the ```read_sql``` command for all the following questions.


<font size = "5">

(b) Subset and sort


<font size = "3">

- Use ```WHERE``` to get a subset of "cars" to subset <br>
cars whose brand is ```"Buick"```
- Chain this with ```ORDER BY driver_name ASC``` to sort in <br>
ascending order <br>
Hints:
- Remember to include a  ```\```  to be able to define strings over multiple lines
- We can include single quotations in the WHERE command without any additional escape characters

In [33]:
# Write your answer here:

buick_cars = pd.read_sql(text("SELECT * \
                              FROM cars \
                              WHERE brand = 'Buick' \
                                ORDER BY mpg ASC ; " ), 
                            engine)
print(buick_cars)

   Unnamed: 0           make  price  mpg  rep78  headroom  trunk  weight  \
0           4  Buick Electra   7827   15    4.0       4.0     20    4080
1           8  Buick Riviera  10372   16    3.0       3.5     17    3880
2           5  Buick LeSabre   5788   18    3.0       4.0     21    3670
3           9  Buick Skylark   4082   19    3.0       3.5     13    3400
4           3  Buick Century   4816   20    3.0       4.5     16    3250
5           7    Buick Regal   5189   20    3.0       2.0     16    3280
6           6     Buick Opel   4453   26    NaN       3.0     10    2230

   length  turn  displacement  gear_ratio  brand
0     222    43           350        2.41  Buick
1     207    43           231        2.93  Buick
2     218    43           231        2.73  Buick
3     200    42           231        3.08  Buick
4     196    40           196        2.93  Buick
5     200    42           196        2.93  Buick
6     170    34           304        2.87  Buick

<font size = "5">

(c) Groupby + Aggregate + Sort

<font size = "3">

- From ```cars```, obtain the average of "mpg" by "brand" using ```GROUP BY```
- Use ```ORDER BY ``` to sort by the average of "lap_times"
- Make sure to seperate pieces of your logic over seperate lines  by a ```\```

In [34]:
# Write your answer here:

average_mpg_by_brand = pd.read_sql(text("SELECT brand, AVG(mpg) AS average_mpg \
                                        FROM cars \
                                        GROUP BY brand \
                                        ORDER BY average_mpg ;"), 
                                    engine)

print(average_mpg_by_brand)

      brand  average_mpg
0     Linc.    12.666667
1   Peugeot    14.000000
2      Cad.    16.333333
3     Volvo    17.000000
4     Merc.    17.166667
5     Buick    19.142857
6      Olds    19.428571
7     Pont.    19.500000
8      Audi    20.000000
9     Dodge    20.250000
10      AMC    20.333333
11     Fiat    21.000000
12    Chev.    22.000000
13   Toyota    22.333333
14     Ford    24.500000
15      BMW    25.000000
16   Datsun    25.750000
17  Renault    26.000000
18    Plym.    26.200000
19    Honda    26.500000
20       VW    28.500000
21    Mazda    30.000000
22   Subaru    35.000000

<font size = "5">

(d) Groupby + Aggregate + Sort

<font size = "3">

- From ```cars``` obtain the average of "mpg" by brand using ```GROUP BY```
- Use ```HAVING ``` to filter brands with an <br>
average mpg strictly higher than 20
- Make sure to seperate pieces of your logic over seperate lines  by a ```\```

HINT: See the end of lecture 16 for details <br>
HINT: Use ```HAVING AVG(mpg)``` rather than an alias <br>
for the code to work correctly.

In [35]:
# Write your answer here:

high_mpg_brands = pd.read_sql(text("SELECT brand, AVG(mpg) AS average_mpg \
                                   FROM cars \
                                   GROUP BY brand \
                                   HAVING AVG(mpg) > 20 \
                                   ORDER BY average_mpg ;"), engine)

print(high_mpg_brands)

      brand  average_mpg
0     Dodge    20.250000
1       AMC    20.333333
2      Fiat    21.000000
3     Chev.    22.000000
4    Toyota    22.333333
5      Ford    24.500000
6       BMW    25.000000
7    Datsun    25.750000
8   Renault    26.000000
9     Plym.    26.200000
10    Honda    26.500000
11       VW    28.500000
12    Mazda    30.000000
13   Subaru    35.000000

<font size = "5">

(e) Groupby and multiple aggregations

<font size = "3">

-  From ```cars```, obtain the average, min, and max of each brand's price using ```GROUP BY```
- Make sure to separate pieces of your code by a ```\``` <br>

In [36]:
# Write your answer here:

price_stats_by_brand = pd.read_sql(text("SELECT brand, AVG(price) AS average_price, \
                                        MIN(price) AS min_price, MAX(price) AS max_price \
                                        FROM cars \
                                        GROUP BY brand ;"), engine)
print(price_stats_by_brand)

      brand  average_price  min_price  max_price
0      Audi    7992.500000       6295       9690
1    Toyota    5122.000000       3748       5899
2   Renault    3895.000000       3895       3895
3      Cad.   13930.333333      11385      15906
4     Chev.    4372.333333       3299       5705
5    Datsun    6006.500000       4589       8129
6     Plym.    4820.000000       4060       6486
7        VW    6021.000000       4697       7140
8     Honda    5149.000000       4499       5799
9      Olds    6050.857143       4181      10371
10     Fiat    4296.000000       4296       4296
11    Volvo   11995.000000      11995      11995
12     Ford    4288.000000       4187       4389
13    Buick    6075.285714       4082      10372
14      AMC    4215.666667       3799       4749
15    Dodge    5055.500000       3984       6342
16    Linc.   12852.333333      11497      13594
17    Pont.    4878.833333       4172       5798
18    Merc.    4913.833333       3291       6303
19   Subaru    3798.000000       3798       3798
20  Peugeot   12990.000000      12990      12990
21    Mazda    3995.000000       3995       3995
22      BMW    9735.000000       9735       9735

<font size = "5">

(f) Merge

<font size = "3">

- From ```cars```, ```LEFT JOIN``` the dataset ```brand_data``` <br>
using ```brand``` as a merging variable. 
- Hint: See Lecture 19 for how to merge datasets

In [39]:
# Write your answer here:

merged_data = pd.read_sql(text("SELECT cars.*, brand_data.* \
                               FROM cars \
                               LEFT JOIN brand_data \
                               ON cars.brand = brand_data.brand ;"), con=engine)
print(merged_data)

    Unnamed: 0           make  price  mpg  rep78  headroom  trunk  weight  \
0            2     AMC Spirit   3799   22    NaN       3.0     12    2640
1            1      AMC Pacer   4749   17    3.0       3.0     11    3350
2            0    AMC Concord   4099   22    3.0       2.5     11    2930
3            9  Buick Skylark   4082   19    3.0       3.5     13    3400
4            8  Buick Riviera  10372   16    3.0       3.5     17    3880
..         ...            ...    ...  ...    ...       ...    ...     ...
69          72    VW Scirocco   6850   25    4.0       2.0     16    1990
70          71      VW Rabbit   4697   25    4.0       3.0     15    1930
71          70      VW Diesel   5397   41    5.0       3.0     15    2040
72          69      VW Dasher   7140   23    4.0       2.5     12    2160
73          73      Volvo 260  11995   17    5.0       2.5     14    3170

    length  turn  displacement  gear_ratio  brand  Unnamed: 0  brand   foreign
0      168    35           121        3.08    AMC           0    AMC  Domestic
1      173    40           258        2.53    AMC           0    AMC  Domestic
2      186    40           121        3.58    AMC           0    AMC  Domestic
3      200    42           231        3.08  Buick           3  Buick  Domestic
4      207    43           231        2.93  Buick           3  Buick  Domestic
..     ...   ...           ...         ...    ...         ...    ...       ...
69     156    36            97        3.78     VW          69     VW   Foreign
70     155    35            89        3.78     VW          69     VW   Foreign
71     155    35            90        3.78     VW          69     VW   Foreign
72     172    36            97        3.74     VW          69     VW   Foreign
73     193    37           163        2.98  Volvo          73  Volvo   Foreign

[74 rows x 16 columns]