# Assignment 9

## Try to submit as an HTML file

<font size = "5">
Print your Emory ID below

In [1]:
# Write your answer here:
print("243 2916")

243 2916

<font size = "5">

Import the "pandas" and 

"sqlalchemy","URL", and "text" libraries from "sqlalchemy" <br>

In [2]:
# Write your answer here:

import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
from sqlalchemy import text

<font size = "5">

Establish a connection to the SQL server and database ```postgres``` <br>
from Python as done in  class  using <br>
```URL()``` and ```create_engine()```<br>
As we are are in the default database, you can leave out the database argument.

In [3]:
# Write your own code

connection_url = URL.create(
    "postgresql",
    username='postgres',
    host='localhost',
    port=5432
)
engine = create_engine(connection_url)

ModuleNotFoundError: No module named 'psycopg2'

<font size = "5">

In this homework, you will repeat most of the  exercises in <br>
Assignment 8, this time accessing SQL indirectly <br>
from Python

<font size = "3">

- For (a)-(e) read the section <br>
on "Escape Characters" carefully and how to write <br>
strings in multiple lines
- Ensure for each exercise you are using the specific Python commands(ie-pd.read_sql)


<font size = "5">

(a) Upload dataset to SQL


<font size = "3">

- Read the file "homework9_table.csv" in the "data_raw" folder
- Upload the file to your local SQL server using the <br>
"to_sql" command. Call the new file "sprint_results" in the <br>
server

In [ ]:
# Write your own code


<font size = "5">

For questions (b)-(e) we will be working with the table <br>
``` homework9_table ``` in the SQL server. You are required to use <br>
the ```read_sql``` command for all the following questions.


<font size = "5">

(b) Subset and sort


<font size = "3">

- Use ```WHERE``` to get a subset of "homework9_table" to subset <br>
drivers whose nationality is British.
- Chain this with ```ORDER BY driver_name ASC``` to sort in <br>
ascending order <br>
Hints:
- Remember to include a  ```\```  to be able to define strings over multiple lines
- We can include single quotations in the WHERE command without any additional escape characters

In [ ]:
# Write your own code

<font size = "5">

(c) Groupby + Aggregate + Sort

<font size = "3">

- Obtain the average of "lap_times" by "driverId" using ```GROUP BY```
- Use ```ORDER BY ``` to sort by the average of "lap_times"
- Make sure to seperate pieces of your logic over seperate lines  by a ```\```

In [ ]:
# Write your own code

<font size = "5">

(d) Groupby + Aggregate + Sort

<font size = "3">

- Obtain the sum of "lap_times" by nationality using ```GROUP BY```
- Use ```HAVING ``` to filter nationalities with a sum <br>
of lap times strictly higher than 150
- Make sure to seperate pieces of your logic over seperate lines  by a ```\```



HINT: See the end of lecture 16 for details <br>
HINT: Use ```HAVING SUM(lap_times)``` rather than an alias <br>
for the code to work correctly.

In [ ]:
# Write your own code

<font size = "5">

(e) Groupby and multiple aggregations

<font size = "3">

- In this exercise we will obtain multiple statistics about each nationality and their lap times.
-  Obtain the sum, min, max, and range of each nationality's lap times using ```GROUP BY```
- Make sure to separate pieces of your code by a ```\``` <br>
HINT: There is no built in range function in SQL, however you can use the <br>
MAX and MIN functions to build your own function, like this:

``` MAX(lap_times)-MIN(lap_times) AS range_laptimes```

In [ ]:
# Write your own code