# <span style="color:darkblue"> QTM 151 - Quiz 3 </span>

## Try to submit as an HTML file

<font size="5"> 

Print your name below

In [18]:
# Write your answer here

print("Nolan Shah")

Nolan Shah

<font size = "5" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"

In [17]:
# Write your answer here:
print("I will abide by Emory's code of conduct")

I will abide by Emory's code of conduct

<font size = "5">

Import the libraries "numpy" and "pandas"

In [16]:
# Write your answer here

import numpy as np
import pandas as pd


<font size = "5">

(a) Replace the values of a column

<font size = "3">

- Import the "data_raw/constructors.csv" file
- Replace the values "British", "American", and "Dutch" with <br>
"UK", "USA", "Netherlands" in the column "nationality"


HINT: See the example in Lecture 12

In [15]:
# Write your own code

# Import constructors dataset
constructors = pd.read_csv("data_raw/constructors.csv")

# Replace "British" with "UK", "American" with "USA", and "Dutch", with "Netherlands"
constructors['nationality'] = constructors['nationality'].replace({
    "British": "UK",
    "American": "USA",
    "Dutch": "Netherlands"
})

# Print the revised dataset
print(constructors.head())

   constructorId constructorRef        name nationality  \
0              1        mclaren     McLaren          UK
1              2     bmw_sauber  BMW Sauber      German
2              3       williams    Williams          UK
3              4        renault     Renault      French
4              5     toro_rosso  Toro Rosso     Italian

                                                 url
0               http://en.wikipedia.org/wiki/McLaren
1            http://en.wikipedia.org/wiki/BMW_Sauber
2  http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3  http://en.wikipedia.org/wiki/Renault_in_Formul...
4   http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

<font size = "5">


<span style="color:red"> For QUESTIONS (b)-(e): </span>

<span style="color:red"> Import the "data_raw/sprint_results.csv" file </span>


(b) Recode a numeric colum

<font size = "3">

- Recode the "points" column into a new column "points_brackets" <br>
with the following categories

$\qquad$ ``` ["0-20","21-30","31-100"] ```

$\qquad$ HINT: Use the "pd.cut()" command. See Lecture 12 <br>
$\qquad$ HINT: Be careful about the left and right points of <br>
$\qquad$ interval to make sure that you classify the points correctly

In [28]:
# Write your own code:

# Import the sprint_results dataset
sprint_results = pd.read_csv("data_raw/sprint_results.csv")

# Use pd.cut command
sprint_results['points_brackets'] = pd.cut(sprint_results['points'], 
                                           bins=[-np.inf, 20, 30, np.inf], 
                                           labels=["0-20", "21-30", "31-100"], 
                                           right= False)


print(sprint_results[['points', 'points_brackets']].head())

print(sprint_results['points'].unique())

   points points_brackets
0       3            0-20
1       2            0-20
2       1            0-20
3       0            0-20
4       0            0-20
[3 2 1 0 8 7 6 5 4]

<font size = "5">

(c) Aggregate and query

<font size = "3">

- Subset the observations for 'raceId <= 1070' using ```.query()```
- Obtain the maximum of "points" by "driverId" <br>  using ``` .groupby().agg() ``` and save this to <br>
a new dataset called "aggregate_data"
- From "aggregate_data" subset the drivers with a maximum number of points $>= 1$
- Display the resulting dataset


Hint: See Lecture 15

In [29]:
# Write your own code

# Subset using .query()
subset_data = sprint_results.query('raceId <= 1070')

# Find the maximum of "point" by "driverID"
aggregate_data = subset_data.groupby('driverId')['points'].agg(max_points='max').reset_index()

# Subset the data for drivers with a maximum number of points greater than 1
filtered_data = aggregate_data.query('max_points >= 1')


print(filtered_data)

   driverId  max_points
0         1           2
6       817           1
7       822           3
8       830           3

<font size = "5">

(d) Aggregate and sort

<font size = "3">

- Obtain the mean of "points" by "driverId" <br>  using ``` .groupby().agg() ```
- Sort the drivers in descending order using of <br>
the mean of points using ``` .sort_values() ```


Hint: See Lecture 15

In [30]:
# Write your own code

# Find mean of "points" by "driverID"
mean_points_by_driver = sprint_results.groupby('driverId')['points'].agg('mean').reset_index()

# Sort the drivers in descending order
mean_points_by_driver = mean_points_by_driver.sort_values(by='points', ascending=False)

print(mean_points_by_driver)

    driverId    points
9        830  4.666667
10       832  3.166667
15       844  2.833333
5        815  2.333333
17       847  2.166667
0          1  1.500000
7        822  1.500000
8        825  1.333333
16       846  1.000000
6        817  0.666667
11       839  0.500000
22       854  0.000000
21       853  0.000000
20       852  0.000000
19       849  0.000000
18       848  0.000000
12       840  0.000000
14       842  0.000000
13       841  0.000000
1          4  0.000000
4         20  0.000000
3          9  0.000000
2          8  0.000000
23       855  0.000000

<font size = "5">

(e) Rename column

<font size = "3">

- Rename the column "grid" to "grid_placement"

HINT: Create a dictionary and use ```.rename(columns = ...)``` <br>
See Lecture 15

In [31]:
# Write your own code

# Rename "grid" to "grid_placement"
sprint_results_renamed = sprint_results.rename(columns={'grid': 'grid_placement'})


print(sprint_results_renamed.head())

   resultId  raceId  driverId  constructorId  number  grid_placement position  \
0         1    1061       830              9      33               2        1
1         2    1061         1            131      44               1        2
2         3    1061       822            131      77               3        3
3         4    1061       844              6      16               4        4
4         5    1061       846              1       4               6        5

  positionText  positionOrder  points  laps       time milliseconds  \
0            1              1       3    17  25:38.426      1538426
1            2              2       2    17     +1.430      1539856
2            3              3       1    17     +7.502      1545928
3            4              4       0    17    +11.278      1549704
4            5              5       0    17    +24.111      1562537

  fastestLap fastestLapTime  statusId points_brackets
0         14       1:30.013         1            0-20
1         17       1:29.937         1            0-20
2         17       1:29.958         1            0-20
3         16       1:30.163         1            0-20
4         16       1:30.566         1            0-20

<font size = "5">

(f) Merge dataset

<font size = "3">

- Create a new dataset with  ```pd.merge()``` using <br>
"sprint_results" as the primary dataset, and <br>
"constructors" as the secondary dataset, merging on <br>
the column "constructorId"
- To get full points **ONLY** merge the "nationality" column <br>
from the secondary dataset (not all the columns)

HINT: Use ```[[...]]``` to extract a subset of columns <br>
from the secondary dataset before merging, including the <br>
"constructorId" column. <br>
Be careful to notice that "constructorId" has an uppercase "I".

See Lecture 15

In [32]:
# Write your own code

# Merge datasets and only include the "nationality" column from the secondary dataset
merged_dataset = pd.merge(sprint_results, 
                          constructors[['constructorId', 'nationality']], 
                          on='constructorId', 
                          how='left')

print(merged_dataset[['driverId', 'constructorId', 'nationality']].head())

   driverId  constructorId nationality
0       830              9    Austrian
1         1            131      German
2       822            131      German
3       844              6     Italian
4       846              1          UK